---
layout: default
---

<div class="home">
  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <h1>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h1>
        <span class="post-meta">{{ post.date | date: "%B %d, %Y" }}</span>&emsp14; 
<span>
  {% for tag in post.tags %}
    {% capture tag_name %}{{ tag }}{% endcapture %}
    <a href="/tag/{{ tag_name }}">{{ tag_name }}&nbsp;</a>
  {% endfor %}
</span>      
     {% endfor %}
 

      </li>

  </ul>
</div>